@import "mixins";
@import "variables";

.masthead__heading {
  max-width: $projects-width;
  margin: auto;
  margin-bottom: 65px;
}

.main__heading {
  margin-block: 0px;
  padding-bottom: 67px;
  max-width: $projects-width;
  margin: auto;
}

.site-logo {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.main__header::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: solid 1px #ccc;
  position: absolute;
  left: 0;
}

a {
  text-decoration: $text-decoration;
  color: #000;
}

a:active {
  color: #555;
}
a:visited {
  color: #000;
}

.nav-container {
  padding-top: 30px;
  padding-bottom: 80px;
  @include flex-row;
  justify-content: space-between;
  display: flex
}

.nav-lists {
  @include  flex-row;
  gap : 3rem;
  li {
    list-style: none;
  }
  padding-right: 2rem;
}