@import 'variables.scss';

.project-lists {
  padding: 0;
}

.project-list {
  list-style: none;
  transition: .5s;
}

.project-section {
  max-width: $projects-width;
  margin: auto;
}

.card-project {
  height: 170px;
  position: relative;
  background-color: #F0EEEF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 3rem;
  margin: 1rem 0;
  img {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.see-project {
  opacity: 0;
  border: 1px solid #ab2537fa;
  padding: 10px 10px;
  background-image: url('../icons/arrow-narrow-right.svg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 3rem;
  background-size: 50% 50%;
  font-size: 12px;
}

.list-anchor:hover {
  color: #ab2537fa;
}

.project-list:hover {
  .card-project {
    position: relative;
    background-color: #302F30;
    img {
      opacity: .8;
    }
  }
  
  .link-container {
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .see-project {
    color: #fff;
    opacity: 1;
  }
}

.project-title {
  font-size: 32px;
  text-transform: capitalize;
}