@import "variables.scss";
@import "mixins.scss";

.section__sub-title {
  color: #000000;
  font-size: 1.65em;
  line-height: 1em;
  margin-bottom: 2em;
}

.services {
  color: #ab2537fa;
  text-transform: uppercase;
}

p {
  color: #111111;
}

.section__desc {
  padding-bottom: 5rem;
}