.main_footer {
  // background-color: #000000;
  padding-block: 50px;
  text-align: center;
}

.page-list a {
  background-repeat: no-repeat;
  background-position: center center;
}

.page-list span {
  visibility: hidden;
}

.page-list > [href="twitter"] {
  background-image: img("icon_twitter.svg");
}

.page-list > [href="facebook"] {
  background-image: img("icon_facebook.svg");
}

.page-list > [href="instagram"] {
  background-image: img("icon_instagram.svg");
}

.page-list > [href="github"] {
  // background-image: img("icon_github.png");
}

@media (min-width: 720px) {
  .main_footer {
    text-align: start;
  }
}
