@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

h1 {
  font-family: "NotoSnasKR";
  font-weight: 400;
  font-style: normal; }

html {
  margin: 0; }

body {
  background-color: #eeeeee;
  margin: 0;
  font-family: "NotoSansKR"; }

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

.header {
  position: relative;
  background-color: #0000ff; }

.header .home {
  color: #ffffffff;
  text-decoration: none; }

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header_menu-listts {
  width: 100%; }

#checkbox {
  order: 2;
  visibility: hidden; }

.menu {
  background-image: url("../img/icon_menu.svg");
  background-repeat: no-repeat;
  display: block;
  order: 3; }

label span {
  visibility: hidden; }

.header_menu {
  transform: translateX(-110%);
  position: absolute;
  transition: 0.3s; }

.header_menu-anchor {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase; }

.header_menu-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: start; }

[type="checkbox"]:checked ~ .header_menu {
  position: absolute;
  transform: translateX(0);
  width: 250px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #cccccc;
  z-index: 2; }

[type="checkbox"]:checked ~ .header_menu > label {
  width: 100vw;
  display: inline-block;
  height: 100vh;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: -1; }

header a:hover {
  background-color: mediumblue;
  color: #eeeeee;
  border-radius: 5px;
  box-shadow: #cccccc 1px 1px 1px 1px; }

@media (min-width: 720px) {
  [type="checkbox"] {
    display: none; }
  .header_menu {
    transform: none; }
  .header_menu,
  .header,
  .header_menu > label {
    position: initial; }
  .header_menu-lists,
  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header_menu-anchor {
    color: #ffffffff; } }

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: local("NotoSansKR-Regular"), local("NotoSansKR Regular"), local("NotoSansKR-Bold"), local("NotoSansKR Bold"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"); }

.header_menu ul,
.footer_navigation ul {
  padding: 0; }

.header_menu ul > li,
.footer_navigation ul > li {
  list-style: none; }

.header_menu ul > li > a,
.footer_navigation ul > li > a {
  text-decoration: none; }

.header_menu-listts {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navigation-lists {
  list-style: circle; }

.page-list--anchor {
  color: #eeeeee;
  text-transform: uppercase;
  padding: 1rem; }

.article_navigation {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 50px; }

[for="email"] {
  display: block;
  color: #0000ff;
  line-height: 31px; }

[type="email"] {
  border: none; }

.fieldset {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ccc; }

[type="submit"] {
  color: #000000;
  margin-inline: auto;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #ffff00;
  cursor: pointer;
  border: solid 0.777px #cccccc; }

[type="submit"]:hover {
  background-color: #ffdd00;
  color: #000077;
  box-shadow: 1px 1px #000000;
  transform: scale(1.1); }

@media (min-width: 720px) {
  .page-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .form_contanier form {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .fieldset {
    width: 50vw; }
  [type="submit"] {
    width: 30%; } }

.main_footer {
  padding-block: 50px;
  text-align: center; }

.page-list a {
  background-repeat: no-repeat;
  background-position: center center; }

.page-list span {
  visibility: hidden; }

.page-list > [href="twitter"] {
  background-image: url("../img/icon_twitter.svg"); }

.page-list > [href="facebook"] {
  background-image: url("../img/icon_facebook.svg"); }

.page-list > [href="instagram"] {
  background-image: url("../img/icon_instagram.svg"); }

@media (min-width: 720px) {
  .main_footer {
    text-align: start; } }
